<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rbaumier.ghpr</string>
	<key>connections</key>
	<dict>
		<key>F82616D4-1FA6-49C0-8301-2A9A382C6AD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7C43B61-6839-4B1F-9B41-F7D974298E2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>rbaumier</string>
	<key>description</key>
	<string>Show open Github Pull Requests</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github open Pull Requets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>fetching...</string>
				<key>script</key>
				<string>./github-prs</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show open pull requests</string>
				<key>title</key>
				<string>Github Pull Requests</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F82616D4-1FA6-49C0-8301-2A9A382C6AD3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C7C43B61-6839-4B1F-9B41-F7D974298E2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>To generate a github token, please go to https://github.com/settings/tokens/new</string>
	<key>uidata</key>
	<dict>
		<key>C7C43B61-6839-4B1F-9B41-F7D974298E2E</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>F82616D4-1FA6-49C0-8301-2A9A382C6AD3</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GITHUB_ORGANIZATION</key>
		<string>CHANGE_ME</string>
		<key>GITHUB_TOKEN</key>
		<string>CHANGE_ME</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>GITHUB_TOKEN</string>
		<string>GITHUB_ORGANIZATION</string>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>rbaumier.com</string>
</dict>
</plist>
